
@font-face {
  font-family: 'Muli-Italic';
  src: url('Muli-Italic.eot?#iefix') format('embedded-opentype'),  url('Muli-Italic.woff') format('woff'), url('Muli-Italic.ttf')  format('truetype'), url('Muli-Italic.svg#Muli-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
