@font-face {
  font-family: 'Muli-Regular';
  src: url('../fonts/Muli-Regular/Muli-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Muli-Regular/Muli-Regular.woff') format('woff'), url('../fonts/Muli-Regular/Muli-Regular.ttf')  format('truetype'), url('../fonts/Muli-Regular/Muli-Regular.svg#Muli-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Muli-Bold';
  src: url('../fonts/Muli-Bold/Muli-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Muli-Bold/Muli-Bold.woff') format('woff'), url('../fonts/Muli-Bold/Muli-Bold.ttf')  format('truetype'), url('../fonts/Muli-Bold/Muli-Bold.svg#Muli-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Muli-Italic';
  src: url('../fonts/Muli-Italic/Muli-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Muli-Italic/Muli-Italic.woff') format('woff'), url('../fonts/Muli-Italic/Muli-Italic.ttf')  format('truetype'), url('../fonts/Muli-Italic/Muli-Italic.svg#Muli-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}



$muli-regular: 'Muli-Regular', Arial;
$muli-bold: 'Muli-Bold', Arial;
$muli-italic: 'Muli-Italic', Arial;
$cl-blue: #052443;
$cl-bluelight: #5F93CD;
$cl-lessblue: #2D64A2;
$cl-orange: #FFE3BF;
$cl-yellow: #FFF4EA;
$cl-gray: #F7F7F7;
$cl-grey: #686868;

.ff-mulibold{
  font-family: $muli-bold;
}
.ff-montbold{
  font-family: "Montserrat", Arial;
      font-weight: 600;
}
.ff-italic{
  font-family: $muli-italic;
}
.fs-14{
  font-size: 14px;
}
.fs-20{
  font-size: 20px;
}
.fs-30{
  font-size: 30px;
}
.cl-blue{
  color: $cl-blue;
}
.cl-grey{
  color: $cl-grey;
}
.cl-yellow{
  color: $cl-orange;
}
.text-gold{
  background: #F8CC9B;
  background: -webkit-linear-gradient(left top, #F8CC9B 0%, #F6BF67 30%, #FCE2BF 80%);
  background: -moz-linear-gradient(left top, #F8CC9B 0%, #F6BF67 30%, #FCE2BF 80%);
  background: -o-linear-gradient(left top, #F8CC9B 0%, #F6BF67 30%, #FCE2BF 80%);
  background: linear-gradient(left top, #F8CC9B 0%, #F6BF67 30%, #FCE2BF 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px rgba(240, 191, 10, 0.1);
}
.bg-blue{
  background: $cl-blue;
  color: $cl-bluelight;
}
.bg-gray{
  background: $cl-gray;
}
.bg-yellow{
   background: $cl-yellow;
}
.w15{
  max-width: 15px;
}
@mixin text-gold() {
  background: #F8CC9B;
  background: -webkit-linear-gradient(left top, #F8CC9B 0%, #F6BF67 30%, #FCE2BF 80%);
  background: -moz-linear-gradient(left top, #F8CC9B 0%, #F6BF67 30%, #FCE2BF 80%);
  background: -o-linear-gradient(left top, #F8CC9B 0%, #F6BF67 30%, #FCE2BF 80%);
  background: linear-gradient(left top, #F8CC9B 0%, #F6BF67 30%, #FCE2BF 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px rgba(240, 191, 10, 0.1);
}
@mixin bg-gold(){
  background: #F6BF67;
  background: -webkit-linear-gradient(left top, #F6BF67 0%, #F8CC9B 50%);
  background: -moz-linear-gradient(left top, #F6BF67 0%, #F8CC9B 50%);
  background: -o-linear-gradient(left top, #F6BF67 0%, #F8CC9B 50%);
  background: linear-gradient(left top, #F6BF67 0%, #F8CC9B 50%);
}
@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
  transform: $property;
}
@mixin transition($property) {
  -webkit-transition: $property;
  -moz-transition: $property;
  -ms-transition: $property;
  -o-transition: $property;
  transition: $property;
}


@-webkit-keyframes smoothScroll {
  0% {
    @include transform(translateY(-40px));
  }
  100% {
    @include transform(translateY(0));
  }
}
@-moz-keyframes smoothScroll {
  0% {
    @include transform(translateY(-40px));
  }
  100% {
    @include transform(translateY(0));
  }
}
@-o-keyframes smoothScroll {
  0% {
    @include transform(translateY(-40px));
  }
  100% {
    @include transform(translateY(0));
  }
}
@keyframes smoothScroll {
  0% {
    @include transform(translateY(-40px));
  }
  100% {
    @include transform(translateY(0));
  }
}
@-webkit-keyframes spin {
  0%{
    @include transform(rotate(0deg));
  }
  50%{
    @include transform(rotate(180deg));
  }
  100%{
    @include transform(rotate(360deg));
  }
}
@-moz-keyframes spin {
  0%{
    @include transform(rotate(0deg));
  }
  50%{
    @include transform(rotate(180deg));
  }
  100%{
    @include transform(rotate(360deg));
  }
}
@-o-keyframes spin {
  0%{
    @include transform(rotate(0deg));
  }
  50%{
    @include transform(rotate(180deg));
  }
  100%{
    @include transform(rotate(360deg));
  }
}
@keyframes spin {
  0%{
    @include transform(rotate(0deg));
  }
  50%{
    @include transform(rotate(180deg));
  }
  100%{
    @include transform(rotate(360deg));
  }
}
@media (max-width: 767px) {
  .fs-30{
    font-size: 20px;
  }
  .fs-20{
    font-size: 16px;
  }
}