@import "_var.scss";
html{
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
  font{
    size: 13px;
    family: $muli-regular;
  }
  color: #686868;
  a{
    text-decoration: none;
    outline: none;
    @include transition(all 0.5s ease);
    &:hover,
    &:focus{
      text-decoration: none;
    }
  }
  .btn{
    &:hover,
    &:focus,
    &:active{
      box-shadow: none;
      outline: none;
    }
    &.btn-gold{
      position: relative;
      @include bg-gold();
      border: 0;
      border-radius: 5px;
      min-width: 120px;
      &:before{
        position: absolute;
        content: "";
        width: calc(100% - 2px);
        width: -webkit-calc(100% - 2px);
        width: -moz-calc(100% - 2px);
        height: calc(100% - 2px);
        height: -webkit-calc(100% - 2px);
        height: -moz-calc(100% - 2px);
        right: 1px;
        top: 1px;
        border-radius: 5px;
        background: $cl-blue;
        @include transition(all 0.5s ease);
      }
      span{
        position: relative;
        color: $cl-orange;
        text-transform: uppercase;
        font-family: "Montserrat", Arial;
        font-weight: 600;
        font-size: 13px;
        @include transition(all 0.5s ease);
      }
      &:hover{
        &:before{
          opacity: 0;
          @include transform(scaleY(0));
        }
        span{
          color: $cl-blue;
        }
      }
    }
    &.btn-blue{
      position: relative;
      border-radius: 5px;
      min-width: 120px;
      border: 1px solid $cl-blue;
      color: $cl-blue;
      font-family: "Montserrat", Arial;
      font-weight: 600;
      font-size: 13px;
      text-transform: uppercase;
      &:hover{
        background: $cl-blue;
        color: $cl-orange;
      }
    }
  }
  .form-control{
    margin-bottom: 10px;
    border: 0;
    border-bottom: 1px solid $cl-grey;
    background: transparent;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 0;
    padding-right: 0;
    resize: none;
    font-size: 14px;
    overflow-x: hidden;
    &::placeholder{
      @include transition(all 0.5s ease);
    }
    &:focus{
      box-shadow: none;
      outline: none;
      background: transparent;
      border-color: $cl-grey;
      &::placeholder{
        @include transform(translateX(100px));
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  select.form-control{
    padding-right: 30px;
    background: url("../images/dropdown.png") no-repeat right center / 15px auto;
    &:focus{
      background: url("../images/dropdown.png") no-repeat right center / 15px auto;
    }
  }
  button{
    &:focus{
      box-shadow: none;
      outline: none;
    }
  }
  .slick-slider{
    .slick-slide{
      &:focus{
        box-shadow: none;
        outline: none;
      }
    }
  }
  img{
    max-width: 100%;
  }
}
#menu_fixed{
  color: $cl-bluelight;
  padding: 0.5rem 0;
  background: #ffffff;
  animation: smoothScroll 1s forwards;
  -webkit-animation: smoothScroll 1s forwards;
  -moz-animation: smoothScroll 1s forwards;
  -o-animation: smoothScroll 1s forwards;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 999;
  display: none;
  &.fixed{
    display: block;
  }
  .logo_site{
    padding-right: 10px;
    display: block;
    img{
      max-height: 70px;
    }
  }
  .topline{
    padding: 10px 0;
    margin-bottom: 10px;
    margin-top: -0.5rem;
    display: none;
    p{
      margin-bottom: 0;
    }
    .social{
      margin-bottom: 0;
      text-align: right;
      li{
        margin-right: 30px;
        margin-bottom: 0;
        a{
          font-size: 14px;
          color: $cl-bluelight;
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
  .info_bottom{
    display: none;
  }
  .topline{
    display: block;
  }
  .logo_site{
    padding-right: 10px;
    display: block;
    .onscroll{
      display: block;
    }
    .ontop{
      display: none;
    }
  }
  .menu_site{
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-bottom: 1px solid #D7D7D7;
    >li{
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
      a{
        color: $cl-grey;
        display: inline-block;
        padding: 10px 0 6px;
        font-family: 'Montserrat', sans-serif;
  font-weight: 400;
        position: relative;
        &:before{
          position: absolute;
          content: "";
          width: 0;
          opacity: 0;
          bottom: -1px;
          left: 0;
          height: 2px;
          background: $cl-blue;
          @include transition(all 0.5s ease);
        }
      }
      &.active{
        a{
          color: $cl-blue;
          font-family: "Montserrat", Arial;
      font-weight: 600;
          &:before{
            width: 100%;
            opacity: 1;
          }
        }
      }
      &:hover{
        >a{
          color: $cl-blue;
          font-family: "Montserrat", Arial;
      font-weight: 600;
          &:before{
            width: 100%;
            opacity: 1;
          }
        }
        > ul{
          opacity: 1;
          top: 100%;
          visibility: visible;
        }
      }
      > ul{
        display: flex;
        display: -ms-flexbox;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 0;
        background: #ffffff;
        opacity: 0;
        visibility: hidden;
        list-style: none;
        position: absolute;
        left: 0;
        top: calc(100% + 30px);
        top: -webkit-calc(100% + 30px);
        top: -moz-calc(100% + 30px);
        z-index: 999;
        border: 1px solid #E6E6E6;
        box-shadow: 0 40px 80px 0 rgba(101,101,101,0.07), 0 41px 33px 0 rgba(144,144,144,0.05), 0 22px 18px 0 rgba(0,0,0,0.04), 0 12px 10px 0 rgba(140,140,140,0.04), 0 6px 6px 0 rgba(0,0,0,0.03), 0 2px 2px 0 rgba(0,0,0,0.02);
        @include transition(all 0.5s ease);
        > li{
          padding: 15px 15px;
          -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
          max-width: 33.333333%;
          //width: 200px;
          >a{
            font-family: "Montserrat", Arial;
      font-weight: 600;
            color: $cl-blue;
            display: block;
            font-size: 16px;
            padding: 10px 0 6px 15px;
          }
          ul{
            list-style: none;
            padding-left: 0;
            li{
              padding: 0;
              a{
                color: #A5A5A5;
                font-size: 12px;
                padding: 10px 0 6px 15px;
                position: relative;
                &:after{
                  position: absolute;
                  width: 0;
                  opacity: 0;
                  height: 1px;
                  content: "";
                  background: $cl-blue;
                  left: -15px;
                  top: 17px;
                  @include transition(all 0.5s ease);
                }
                &:hover{
                  color: $cl-blue;
                  &:after{
                    opacity: 1;
                    width: 20px;
                  }
                }
              }
              ul{
                display: none;
                li{
                  padding-left: 15px;
                  a{
                    padding: 0px 0 6px 15px;
                    &:after{
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .user_info{
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #D7D7D7;
    li{
      display: inline-block;
      margin-left: 25px;
      a{
        color: $cl-grey;
        display: block;
        padding: 10px 0 6px;
      }
    }
  }
  .search{
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #D7D7D7;
    position: relative;
    a,
    button{
      color: $cl-grey;
      display: block;
      padding: 10px 10px 6px;
      border: 0;
      background: transparent;
      z-index: 11;
      position: relative;
    }
    .form_search{
      position: absolute;
      bottom: 0;
      right: 0;
      .form-control{
        margin-bottom: 0;
        background: $cl-blue;
        border: 0;
        width: 0;
        opacity: 0;
        visibility: hidden;
        padding: 0 15px;
        border-radius: 6px;
        color: #ffffff;
        height: 34px;
        @include transition(all 0.5s ease);
        &::placeholder{
          color: #ffffff;
        }
      }
      &.showform{
        .form-control{
          opacity: 1;
          visibility: visible;
          width: 200px;
        }
      }
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .menu_site {
      > li {
        a{
          font-size: 9px;
        }
      }
    }
    .user_info {
      li {
        a{
          font-size: 9px;
        }
      }
    }
    .search {
      a{
        font-size: 9px;
      }
    }
  }
  @media (max-width: 767px) {
    &.fixed{
      display: none;
    }
  }
}
.menu_mobile{
  display: none;
  @media (max-width: 767px){
    display: block;
    position: fixed;
    z-index: 9999;
    background: $cl-blue;
    height: 100vh;
    padding: 15px;
    width: 70%;
    overflow-y: auto;
    padding-bottom: 3rem;
    @include transition(all 0.5s ease);
    @include transform(translateX(-100%));
    &.showmenu{
      @include transform(translateX(0));
    }
    .menu_site{
      padding: 0;
      margin-top: 15px;
      margin-bottom: 0;
      list-style: none;
      >li{
        margin-bottom: 10px;
        position: relative;
        a{
          color: $cl-bluelight;
          font-size: 16px;
        }
        >ul{
          display: none;
        }
        &:hover,
        &.active{
          >a{
            color: $cl-orange;
          }
        }
        &.has-child{
          &:before{
            position: absolute;
            content: "\f107";
            font-family: FontAwesome;
            right: 0;
            top: 3px;
            width: 15px;
            height: 15px;
            display: flex;
            display: -ms-flexbox;
            justify-content: center;
            align-items: center;
            @include transition(all 0.5s ease);
            color: $cl-bluelight;
          }
          &.showmenu{
            &:before{
              @include transform(rotate(180deg));
            }
          }
          >ul{
            list-style: none;
            padding-left: 0;
            >li{
              position: relative;
              margin-top: 15px;
              >a{
                color: $cl-orange;
                display: none;
              }
              >ul{
                list-style: none;
                padding-left: 15px;
                li{
                  margin-top: 15px;
                  position: relative;
                  &.has-child{
                    &:before{
                      position: absolute;
                      content: "\f107";
                      font-family: FontAwesome;
                      right: 0;
                      top: 3px;
                      width: 15px;
                      height: 15px;
                      display: flex;
                      display: -ms-flexbox;
                      justify-content: center;
                      align-items: center;
                      @include transition(all 0.5s ease);
                      color: $cl-bluelight;
                    }
                    &.showmenu{
                      &:before{
                        @include transform(rotate(180deg));
                      }
                    }
                  }
                  >ul{
                    display: none;
                    list-style: none;
                    padding-left: 15px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .info_site{
      color: $cl-bluelight;
      strong{
        font-family: "Montserrat", Arial;
        font-weight: 800
      }
      ul{
        li{
          margin-bottom: 5px;
          p{
            margin-bottom: 15px;
          }
          a{
            color: $cl-bluelight;
          }
        }
      }
      .btn{
        margin-top: 5px;
      }
      .social{
        margin-bottom: 0;
        li{
          margin-right: 30px;
          margin-bottom: 0;
          a{
            font-size: 20px;
          }
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }
  }
}
.overlay_menu{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  width: 100%;
  height: 100%;
  display: none;
  &.showmenu{
    display: block;
  }
}
#header_site{
  position: relative;
  padding: 1.5rem 0;
  color: $cl-bluelight;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  &:not(.bg-blue){
    padding-top: 0;
    .topline{
      padding: 10px 0;
      margin-bottom: 10px;
      p{
        margin-bottom: 0;
      }
      .social{
        margin-bottom: 0;
        text-align: right;
        li{
          margin-right: 30px;
          margin-bottom: 0;
          a{
            font-size: 14px;
            color: $cl-bluelight;
          }
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }
    .menu_site{
      border-bottom: 1px solid #D8D8D8;
      >li{
        a{
          color: $cl-grey;
          &:before{
            background: $cl-blue;
          }
        }
        &:hover,
        &.active{
          >a{
            color: $cl-blue;
          }
        }
        &:hover{
          >a{
            color: $cl-blue;
            font-family: "Montserrat", Arial;
      font-weight: 600;
            &:before{
              width: 100%;
              opacity: 1;
            }
          }
          > ul{
            opacity: 1;
            top: 100%;
            visibility: visible;
          }
        }
        > ul{
          display: flex;
          display: -ms-flexbox;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          padding-left: 0;
          background: #ffffff;
          opacity: 0;
          visibility: hidden;
          list-style: none;
          position: absolute;
          left: 0;
          top: calc(100% + 30px);
          top: -webkit-calc(100% + 30px);
          top: -moz-calc(100% + 30px);
          z-index: 999;
          border: 1px solid #E6E6E6;
          box-shadow: 0 40px 80px 0 rgba(101,101,101,0.07), 0 41px 33px 0 rgba(144,144,144,0.05), 0 22px 18px 0 rgba(0,0,0,0.04), 0 12px 10px 0 rgba(140,140,140,0.04), 0 6px 6px 0 rgba(0,0,0,0.03), 0 2px 2px 0 rgba(0,0,0,0.02);
          @include transition(all 0.5s ease);
          > li{
            padding: 15px 15px;
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
            //width: 200px;
            >a{
              font-family: "Montserrat", Arial;
      font-weight: 600;
              color: $cl-blue;
              display: block;
              font-size: 16px;
              padding: 10px 0 6px 15px;
            }
            ul{
              list-style: none;
              padding-left: 0;
              li{
                padding: 0;
                a{
                  color: #A5A5A5;
                  font-size: 12px;
                  padding: 10px 0 6px 15px;
                  position: relative;
                  &:after{
                    position: absolute;
                    width: 0;
                    opacity: 0;
                    height: 1px;
                    content: "";
                    background: $cl-blue;
                    left: -15px;
                    top: 17px;
                    @include transition(all 0.5s ease);
                  }
                  &:hover{
                    color: $cl-blue;
                    &:after{
                      opacity: 1;
                      width: 20px;
                    }
                  }
                }
                ul{
                  display: none;
                  li{
                    padding-left: 15px;
                    a{
                      padding: 0px 0 6px 15px;
                      &:after{
                        display: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .user_info{
      border-bottom: 1px solid #D8D8D8;
      li{
        a{
          color: $cl-lessblue;
        }
      }
    }
    .search{
      border-bottom: 1px solid #D8D8D8;
      a{
        color: $cl-lessblue;
      }
    }
  }
  .logo_site{
    padding-right: 10px;
    display: block;
    img{
      max-height: 70px;
    }
  }
  .menu_site{
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-bottom: 1px solid $cl-bluelight;
    >li{
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
      a{
        color: $cl-bluelight;
        display: inline-block;
        padding: 10px 0 6px;
        font-family: 'Montserrat', sans-serif;
  font-weight: 400;
        position: relative;
        &:before{
          position: absolute;
          content: "";
          width: 0;
          opacity: 0;
          bottom: -1px;
          left: 0;
          height: 2px;
          background: $cl-orange;
          @include transition(all 0.5s ease);
        }
      }
      &.active{
        >a{
          color: $cl-orange;
          font-family: "Montserrat", Arial;
      font-weight: 600;
          &:before{
            width: 100%;
            opacity: 1;
          }
        }
      }
      &:hover{
        >a{
          color: $cl-orange;
          font-family: "Montserrat", Arial;
      font-weight: 600;
          &:before{
            width: 100%;
            opacity: 1;
          }
        }
        > ul{
          opacity: 1;
          top: 100%;
          visibility: visible;
        }
      }
      > ul{
        display: flex;
        display: -ms-flexbox;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 0;
        background: #ffffff;
        opacity: 0;
        visibility: hidden;
        list-style: none;
        position: absolute;
        left: 0;
        top: calc(100% + 30px);
        top: -webkit-calc(100% + 30px);
        top: -moz-calc(100% + 30px);
        z-index: 999;
        border: 1px solid #E6E6E6;
        box-shadow: 0 40px 80px 0 rgba(101,101,101,0.07), 0 41px 33px 0 rgba(144,144,144,0.05), 0 22px 18px 0 rgba(0,0,0,0.04), 0 12px 10px 0 rgba(140,140,140,0.04), 0 6px 6px 0 rgba(0,0,0,0.03), 0 2px 2px 0 rgba(0,0,0,0.02);
        @include transition(all 0.5s ease);
        > li{
          padding: 15px 15px;
          -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
          max-width: 33.333333%;
          //width: 200px;
          >a{
            font-family: "Montserrat", Arial;
      font-weight: 600;
            color: $cl-blue;
            display: block;
            font-size: 16px;
            padding: 10px 0 6px 15px;
          }
          ul{
            list-style: none;
            padding-left: 0;
            li{
              padding: 0;
              a{
                color: #A5A5A5;
                font-size: 12px;
                padding: 10px 0 6px 15px;
                position: relative;
                &:after{
                  position: absolute;
                  width: 0;
                  opacity: 0;
                  height: 1px;
                  content: "";
                  background: $cl-blue;
                  left: -15px;
                  top: 17px;
                  @include transition(all 0.5s ease);
                }
                &:hover{
                  color: $cl-blue;
                  &:after{
                    opacity: 1;
                    width: 20px;
                  }
                }
              }
              ul{
                display: none;
                li{
                  padding-left: 15px;
                  a{
                    padding: 0px 0 6px 15px;
                    &:after{
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .user_info{
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid $cl-bluelight;
    li{
      display: inline-block;
      margin-left: 25px;
      a{
        color: $cl-bluelight;
        display: block;
        padding: 10px 0 6px;
      }
    }
  }
  .search{
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid $cl-bluelight;
    position: relative;
    a, button{
      color: $cl-bluelight;
      display: block;
      padding: 10px 10px 6px;
      border: 0;
      background: transparent;
      z-index: 11;
      position: relative;
    }
    .form_search{
      position: absolute;
      bottom: 0;
      right: 0;
      .form-control{
        margin-bottom: 0;
        background: #ffffff;
        border: 0;
        width: 0;
        padding: 0 15px;
        border-radius: 6px;
        color: $cl-blue;
        height: 34px;
        opacity: 0;
        visibility: hidden;
        @include transition(all 0.5s ease);
        &::placeholder{
          color: $cl-blue;
        }
      }
      &.showform{
       .form-control{
         width: 200px;
         opacity: 1;
         visibility: visible;
       }
      }
    }
  }
  .info_site{
    strong{
      font-family: "Montserrat", Arial;
      font-weight: 800
    }
    ul{
      li{
        margin-bottom: 5px;
        p{
          margin-bottom: 15px;
        }
        a{
          color: $cl-bluelight;
        }
      }
    }
    .btn{
      margin-top: 5px;
    }
    .social{
      margin-bottom: 0;
      li{
        margin-right: 30px;
        margin-bottom: 0;
        a{
          font-size: 20px;
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .menu_site {
      > li {
        a{
          font-size: 9px;
        }
      }
    }
    .user_info {
      li {
        a{
          font-size: 9px;
        }
      }
    }
    .search {
      a{
        font-size: 9px;
      }
    }
    .info_site{
      font-size: 10px;
      .btn{
        &.btn-gold{
          font-size: 10px;
          min-width: 100px;
        }
      }
      .social {
        li {
          a{
            font-size: 16px;
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    padding: 0.5rem 0;
    .topline,
    .menu_site,
    .user_info,
    .search,
    .info_bottom{
      display: none;
    }
    &:not(.bg-blue){
      padding-top: 0.5rem;
      background: $cl-yellow;
      .hamburger {
        &.is-active{
          .hamburger-inner,
          .hamburger-inner::before,
          .hamburger-inner::after {
            background-color: $cl-blue; }
        }
      }
      .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        background-color: $cl-blue;
      }
    }
    .logo_site{
      padding-right: 10px;
      display: block;
      img{
        max-height: 50px;
      }
    }
    .showmenu{
      position: absolute;
      right: 0;
      top: 50%;
      @include transform(translateY(-50%));
    }
  }
}
.banner_site{
  margin-bottom: 0 !important;
  .prev-slider{
    position: absolute;
    top: 50%;
    left: 30px;
    z-index: 111;
    cursor: pointer;
    @include transform(translateY(-50%));
    width: 35px;
    height: 35px;
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
      max-width: 20px;
    }
    &:before{
      position: absolute;
      content: "";
      left: 50%;
      top: 50%;
      width: 35px;
      height: 35px;
      opacity: 0.5;
      background: #ffffff;
      @include transform(translate(-50%,-50%) scale(1));
      @include transition(all 0.5s ease);
      z-index: -1;
      border-radius: 50%;
    }
    &:hover{
      &:before{
        opacity: 1;
        @include transform(translate(-50%,-50%) scale(1.2));
      }
    }
  }
  .next-slider{
    position: absolute;
    top: 50%;
    right: 30px;
    z-index: 111;
    cursor: pointer;
    @include transform(translateY(-50%));
    width: 35px;
    height: 35px;
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:before{
      position: absolute;
      content: "";
      left: 50%;
      top: 50%;
      width: 35px;
      height: 35px;
      opacity: 0.5;
      background: #ffffff;
      @include transform(translate(-50%,-50%) scale(1));
      @include transition(all 0.5s ease);
      z-index: -1;
      border-radius: 50%;
    }
    img{
      max-width: 20px;
    }
    &:hover{
      &:before{
        opacity: 1;
        @include transform(translate(-50%,-50%) scale(1.2));
      }
    }
  }
  .slick-dots{
    position: absolute;
    bottom: 15px;
    left: 50%;
    @include transform(translateX(-50%));
    li{
      width: 10px;
      height: 10px;
      button{
        width: 10px;
        height: 10px;
        &:before{
          content: "";
          background: #ffffff;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          @include transition(all 0.5s ease);
        }
      }
      &:hover,
      &.slick-active{
        button{
          @include transform(scale(1.2));
        }
      }
    }
  }
  @media (max-width: 767px) {
    .prev-slider{
      left: 15px;
    }
    .next-slider{
      right: 15px;
    }
  }
}
.services_primary{
  .content_service{
    padding: 5rem 0;
    border-top: 1px solid #D8D8D8;
    background: url("../images/bgservice.png") no-repeat top 15px center / 98% auto;
    .item_service{
      text-align: center;
      padding: 5rem 2rem;
      background: #ffffff;
      border-radius: 70px;
      height: calc(100% - 10px);
      height: -webkit-calc(100% - 10px);
      height: -moz-calc(100% - 10px);
      display: flex;
      display: -ms-flexbox;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 10px;
      @include transition(all 0.5s ease);
      figure{
        margin-bottom: 30px;
        img{
          max-width: 50%;
        }
      }
      h4{
        font-size: 16px;
        text-transform: uppercase;
        font-family: "Montserrat", Arial;
      font-weight: 600;
        color: $cl-blue;
      }
      &:hover{
        @include transform(translateY(-2rem));
        box-shadow: 0 8px 15px 7px $cl-yellow;
      }
    }
  }
  @media (max-width: 767px) {
    .content_service{
      padding: 1rem 0;
      .item_service{
        border-radius: 30px;
      }
    }
  }
}

.beauty_product{
  position: relative;
  &:before{
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    background: $cl-yellow;
  }
  .table{
    margin-bottom: 0;
    tr{
      td{
        border-color: #D7D7D7;
        &:first-child{
          width: 0;
          @media (min-width: 768px) {
            width: calc((100vw - 720px) / 2);
            width: -webkit-calc((100vw - 720px) / 2);
            width: -moz-calc((100vw - 720px) / 2);
          }
          @media (min-width: 992px) {
            width: calc((100vw - 960px) / 2);
            width: -webkit-calc((100vw - 960px) / 2);
            width: -moz-calc((100vw - 960px) / 2);
          }
          @media (min-width: 1200px) {
            width: calc((100vw - 1140px) / 2);
            width: -webkit-calc((100vw - 1140px) / 2);
            width: -moz-calc((100vw - 1140px) / 2);
          }
        }
      }
    }
  }
  .nav_product{
    li{
      a{
        width: 30px;
        height: 30px;
        display: flex;
        display: -ms-flexbox;
        flex-direction: column;
        border: 1px solid #D7D7D7;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: $cl-blue;
        &:hover{
          background: $cl-blue;
          color: #ffffff;
          @include transform(scale(1.2));
        }
      }
    }
  }
  .slide_product{
    .item{
      margin: 0 15px;
      background: #ffffff;
      padding: 60px 10px;
      text-align: center;
      border-radius: 240px;
      border: 1px solid #D7D7D7;
      max-width: 300px;
      position: relative;
      &:before{
        position: absolute;
        content: "";
        width: calc(100% - 20px);
        width: -webkit-calc(100% - 20px);
        width: -moz-calc(100% - 20px);
        height: calc(100% - 20px);
        height: -webkit-calc(100% - 20px);
        height: -moz-calc(100% - 20px);
        left: 10px;
        top: 10px;
        border: 1px solid #D7D7D7;
        border-radius: 240px;
        opacity: 0;
        @include transition(all 0.5s ease);
      }
      figure{
        position: relative;
        img{
          max-height: 200px;
          margin: 0 auto;
          opacity: 0.5;
          @include transition(all 0.5s ease);
        }
        .add_to_cart{
          position: absolute;
          right: 30px;
          top: 50%;
          opacity: 0;
          @include transition(all 0.3s ease);
          a{
            color: $cl-blue;
            font-size: 16px;
          }
        }
        .white_list{
          position: absolute;
          left: 20px;
          bottom: 50%;
          opacity: 0;
          @include transition(all 0.3s ease);
          a{
            color: $cl-blue;
            font-size: 16px;
          }
        }
      }
      h4{
        font-family: 'Montserrat', sans-serif;
  font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
        border-bottom: 1px solid #D7D7D7;
        padding: 0 15px 15px;
        margin-bottom: 15px;
      }
      .product_cate{
        color: #A5A5A5;
        padding: 0 15px;
        margin-bottom: 10px;
      }
      p{
        color: #A5A5A5;
        padding: 0 15px;
      }
      .price{
        color: $cl-blue;
        font-family: "Montserrat", Arial;
      font-weight: 600;
        font-size: 15px;
        margin-bottom: 10px;
      }
      &:hover,
      &:focus{
        box-shadow: none;
        outline: none;
        &:before{
          opacity: 1;
        }
        figure{
          img{
            opacity: 1;
          }
          .add_to_cart{
            @include transform(translateY(-50%));
            opacity: 1;
          }
          .white_list{
            @include transform(translateY(50%));
            opacity: 1;
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    &:before{
      width: 100%;
    }
    .slide_product{
      .item{
        figure{
          img{
            opacity: 1;
          }
          .add_to_cart{
            opacity: 1;
            @include transform(translateY(-50%));
          }
          .white_list{
            opacity: 1;
            @include transform(translateY(50%));
          }
        }
      }
    }
  }
}
.about_us{
  position: relative;
  &:before{
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    background: #fff url("../images/bg-about.png") no-repeat left bottom 20% / auto 75%;
  }
  .video_intro{
    position: relative;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
    .play_video{
      position: absolute;
      left: 50%;
      top: 50%;
      @include transform(translate(-50%,-50%));
      display: flex;
      display: -ms-flexbox;
      width: 40px;
      height: 40px;
      color: #ffffff;
      background: rgba(255,255,255,0.5);
      justify-content: center;
      align-items: center;
      border: 1px solid #D7D7D7;
      border-radius: 50%;
    }
  }
  @media (max-width: 767px) {
    &:before{
      display: none;
    }
  }
}
.our_story{
  background: $cl-blue url("../images/bgstory.png") no-repeat center center / cover;
}
.our_customer{
  .item_customer{
    padding: 15px;
    border-radius: 29px;
    opacity: 0.65;
    @include transition(all 0.5s ease);
    .icon_play{
      display: flex;
      display: -ms-flexbox;
      width: 40px;
      height: 40px;
      border: 1px solid $cl-grey;
      justify-content: center;
      align-items: center;
      color: $cl-grey;
      border-radius: 50%;
      font-size: 20px;
      i{
        margin-left: 3px;
      }
    }
    h4{
      font-family: "Montserrat", Arial;
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase;
    }
    p{
      margin-bottom: 0;
    }
    .quote_customer{
      position: relative;
      &:before{
        position: absolute;
        content: "";
        width: 8px;
        height: 8px;
        top: 0;
        left: -10px;
        background: url('../images/quote.png') no-repeat center center / contain;
      }
    }
    &:hover{
      background: #ffffff;
      box-shadow: 0 8px 15px 7px #FFE9D9;
      opacity: 1;
      .icon_play{
        background: $cl-orange;
        border: 1px solid $cl-orange;
        color: #ffffff;
      }
    }
  }
  a{
    color: $cl-blue;
  }
  @media (max-width: 767px) {
    .quote_customer{
      margin-top: 10px;
      font-family: 'Montserrat', sans-serif;
  font-weight: 400;
    }
  }
}

//Page dich vu

.breadcrumb_site{
  border-bottom: 1px solid #D8D8D8;
  ul{
    li{
      position: relative;
      color: $cl-grey;
      padding-right: 20px;
      &:before{
        position: absolute;
        width: 10px;
        height: 1px;
        background: $cl-grey;
        content: "";
        top: 10px;
        right: 0;
      }
      &:last-child{
        padding-right: 0;
        &:before{
          display: none;
        }
      }
      a{
        color: $cl-grey;
      }
    }
  }
  @media (max-width: 767px) {
    margin-top: 30px;
  }
}
.section1_service{
  background: url("../images/bgservice.png") no-repeat top 15px center/98% auto;
  .video_intro{
    position: relative;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-shadow: 0 40px 80px 0 rgba(101,101,101,0.07), 0 41px 33px 0 rgba(144,144,144,0.05), 0 22px 18px 0 rgba(0,0,0,0.04), 0 12px 10px 0 rgba(140,140,140,0.04), 0 6px 6px 0 rgba(0,0,0,0.03), 0 2px 2px 0 rgba(0,0,0,0.02);
    a{
      display: flex;
      display: -ms-flexbox;
      position: absolute;
      top: 50%;
      left: 0;
      @include transform(translate(-50%,-50%));
      font-size: 40px;
      background: rgba(255,255,255,0.52);
      border: 1px solid #C1C1C1;
      width: 100px;
      height: 100px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: $cl-blue;
    }
  }
  @media (max-width: 767px) {
    .video_intro {
      a{
        left: 50%;
      }
    }
  }
}
.section2_service{
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
  color: $cl-blue;
  font-family: $muli-bold;
}
.section3_service{
  position: relative;
  &:before{
    position: absolute;
    content: "";
    width: 30%;
    height: 100%;
    top: 0;
    left: 0;
    background: $cl-blue;
  }
  @media (max-width: 767px) {
    &:before{
      display: none;
    }
  }
}
.section4_service{
  position: relative;
  &:before{
    position: absolute;
    content: "";
    width: 70%;
    height: 100%;
    top: 0;
    right: 0;
    background: $cl-gray;
  }
  .slide_procedure{
    .item{
      padding: 30px;
      width: 350px;
      position: relative;
      .num{
        background: #FFFFFF;
        border: 1px solid #E6E6E6;
        box-shadow: 0 40px 80px 0 rgba(101,101,101,0.07), 0 41px 33px 0 rgba(144,144,144,0.05), 0 22px 18px 0 rgba(0,0,0,0.04), 0 12px 10px 0 rgba(140,140,140,0.04), 0 6px 6px 0 rgba(0,0,0,0.03), 0 2px 2px 0 rgba(0,0,0,0.02);
        font-family: "Montserrat", Arial;
      font-weight: 600;
        font-size: 40px;
        width: 70px;
        height: 70px;
        display: flex;
        display: -ms-flexbox;
        justify-content: center;
        align-items: center;
        letter-spacing: 3px;
        position: absolute;
        right: 0;
        top: 0;
        color: #ffffff;
        -webkit-text-stroke: 1px $cl-blue;
      }
      .meta_info{
        padding-left: 40px;
        .title_slide{
          position: relative;
          &:before{
            position: absolute;
            content: "";
            width: 30px;
            height: 15px;
            background: url("../images/star2.png") repeat-x left center / 15px auto;
            left: -40px;
            top: 2px;
          }
          a{
            font-family: "Montserrat", Arial;
      font-weight: 600;
            color: $cl-blue;
            font-size: 16px;
            margin-top: 30px;
            display: block;
            margin-bottom: 20px;
          }
        }
      }
    }
    @media (min-width: 1200px) {
      width: calc(100% + (100vw - 1110px) / 2);
      width: -webkit-calc(100% + (100vw - 1110px) / 2);
      width: -moz-calc(100% + (100vw - 1110px) / 2);
    }
  }
  .nav_slide{
    position: absolute;
    left: 30%;
    bottom: 3rem;
    @include transform(translateX(-50%));
    .next_procedure{
      display: flex;
      display: -ms-flexbox;
      background: rgba(255,255,255,0.52);
      border: 1px solid #C1C1C1;
      width: 100px;
      height: 100px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: $cl-blue;
      cursor: pointer;
      img{
        max-width: 30px;
      }
    }
  }
  @media (max-width: 767px) {
    &:before{
      display: none;
    }
    .nav_slide{
      bottom: unset;
      position: relative;
      left: 50%;
      .next_procedure{
        width: 50px;
        height: 50px;
        margin: 0 auto;
      }
    }
  }
}
.section5_service{
  .item_effectiveness{
    text-align: center;
    padding: 0 30px;
    figure{
      text-align: center;
      margin-bottom: 30px;
      img{
        max-height: 80px;
      }
    }
  }
}
.section6_service{
  position: relative;
  &:before{
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    background: $cl-yellow url("../images/qa-img.jpg") no-repeat center center / 100% 100%;
    top: 0;
    left: 0;
  }
  .qa_item{
    a{
      &[data-toggle="collapse"]{
        font-family: $muli-bold;
        color: $cl-blue;
        padding: 20px 0;
        display: block;
        border-top: 1px solid #D8D8D8;
        opacity: 0.3;
        position: relative;
        &:before{
          position: absolute;
          content: "\f107";
          font-family: FontAwesome;
          right: 0;
          top: 20px;
          @include transition(all 0.3s ease);
        }
        &[aria-expanded="true"]{
          opacity: 1;
          &:before{
            @include transform(rotate(180deg));
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    &:before{
      display: none;
    }
  }
}
//Gioi thieu

.banner_about{
  .about_bottom{
    position: relative;
    .stamp{
      position: absolute;
      top: 20%;
      width: 150px;
      z-index: 1;
      left: 10%;
      animation: spin 20s infinite linear;
      -webkit-animation: spin 20s infinite linear;
      -moz-animation: spin 20s infinite linear;
      -o-animation: spin 20s infinite linear;
    }
  }
  .img_about{
    @media (min-width: 1200px) {
      width: calc(100% + (100vw - 1110px) / 2);
      width: -webkit-calc(100% + (100vw - 1110px) / 2);
      width: -moz-calc(100% + (100vw - 1110px) / 2);
    }
  }
  @media (max-width: 767px) {
    padding-top: 30px;
  }
}
.section2_about{
  .img_mision{
    @media (min-width: 1200px) {
      width: calc(100% + (100vw - 1110px) / 2);
      width: -webkit-calc(100% + (100vw - 1110px) / 2);
      width: -moz-calc(100% + (100vw - 1110px) / 2);
    }
  }
}
.section3_about{
  position: relative;
  background: url("../images/bgservice.png") no-repeat top center / 100% auto;
  .bg_certificate{
    width: 70%;
  }
  .img_certificate{
    position: absolute;
    left: 70%;
    top: 50%;
    @include transform(translate(-50%,-50%));
    width: 200px;
  }
  @media (max-width: 767px) {
    .bg_certificate{
      width: 100%;
    }
    .img_certificate{
      left: 50%;
      position: static;
      margin: 10px auto;
      @include transform(translate(0,0));
    }
  }
}
.section4_about{
  .team_box{
    position: relative;
    .bg_img{
      position: absolute;
      width: 100%;
      max-height: 80%;
      top: 50%;
      @include transform(translateY(-50%));
    }
    .slider_staff{
      margin: 0 -30px;
      .item{
        margin: 30px;
        position: relative;
        .meta_info{
          position: absolute;
          top: 15%;
          right: 15px;
          font-size: 11px;
        }
        img{
          position: relative;
        }
        &:before{
          position: absolute;
          content: "";
          width: 95%;
          height: 90%;
          background: #ffffff;
          bottom: 0;
          right: 0;
          border: 1px solid #DDDDDD;
          box-shadow: 0 2px 8px rgba(0,0,0,0.1);
        }
      }
    }
    .staff_nav{
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      display: -ms-flexbox;
      .prev-slider{
        width: 30px;
        height: 30px;
        display: flex;
        display: -ms-flexbox;
        flex-direction: column;
        border: 1px solid #D7D7D7;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: $cl-blue;
        cursor: pointer;
        margin-right: 10px;
        @include transition(all 0.5s ease);
        &:hover{
          background: $cl-blue;
          color: #ffffff;
          @include transform(scale(1.2));
        }
      }
      .next-slider{
        width: 30px;
        height: 30px;
        display: flex;
        display: -ms-flexbox;
        flex-direction: column;
        border: 1px solid #D7D7D7;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: $cl-blue;
        cursor: pointer;
        @include transition(all 0.5s ease);
        &:hover{
          background: $cl-blue;
          color: #ffffff;
          @include transform(scale(1.2));
        }
      }
    }
  }
  @media (max-width: 767px) {
    .team_box {
      .bg_img{
        top: unset;
        bottom: 0;
      }
      .slider_staff {
        .item {
          img{
            width: 150px;
          }
        }
      }
    }
  }
}
.section5_about{
  .value_item{
    .icon{
      margin-bottom: 15px;
      padding-right: 30px;
      img{
        height: 100px;
      }
    }
  }
}
.section6_about{
  .partner_nav{
    display: flex;
    display: -ms-flexbox;
    justify-content: flex-end;
    .prev-slider{
      width: 30px;
      height: 30px;
      display: flex;
      display: -ms-flexbox;
      flex-direction: column;
      border: 1px solid #D7D7D7;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: $cl-blue;
      cursor: pointer;
      margin-right: 10px;
      @include transition(all 0.5s ease);
      &:hover{
        background: $cl-blue;
        color: #ffffff;
        @include transform(scale(1.2));
      }
    }
    .next-slider{
      width: 30px;
      height: 30px;
      display: flex;
      display: -ms-flexbox;
      flex-direction: column;
      border: 1px solid #D7D7D7;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: $cl-blue;
      cursor: pointer;
      @include transition(all 0.5s ease);
      &:hover{
        background: $cl-blue;
        color: #ffffff;
        @include transform(scale(1.2));
      }
    }
  }
  .slider_partner{
    .item{
      border-right: 1px solid #D8D8D8;
      border-top: 1px solid #D8D8D8;
      border-bottom: 1px solid #D8D8D8;
      position: relative;
      margin: 20px 0;
      &:before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: -15px;
        top: -15px;
        border: 1px solid #D8D8D8;
        z-index: 1;
        opacity: 0;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
        pointer-events: none;
        @include transition(all 0.5s ease);
      }
      .logo_partner{
        position: relative;
        padding: 30px;
        text-align: center;
        border-bottom: 1px solid #D8D8D8;
        height: 160px;
        display: flex;
        display: -ms-flexbox;
        justify-content: center;
        align-items: center;
        img{
          max-height: 80px;
          max-width: 150px;
          margin: 0 auto;
          filter: grayscale(100%);
          opacity: 0.5;
          @include transition(all 0.5s ease);
        }
      }
      .content_partner{
        padding: 30px;
        background: $cl-yellow;
        color: #A5A5A5;
        font-size: 11px;
        border-bottom: 1px solid #D8D8D8;
        @include transition(all 0.5s ease);
      }
      .link_partner{
        padding: 15px 30px;
        a{
          color: #A5A5A5;
        }
      }
      &.slick-center{
        &:before{
          width: calc(100% + 30px);
          width: -webkit-calc(100% + 30px);
          width: -moz-calc(100% + 30px);
          height: calc(100% + 30px);
          height: -webkit-calc(100% + 30px);
          height: -moz-calc(100% + 30px);
          opacity: 1;
        }
        .logo_partner{
          img{
            filter: grayscale(0);
            opacity: 1;
          }
        }
        .content_partner{
          background: #ffffff;
        }
      }
    }
  }
}
//Product page
.product_page{
  .list_cate_product{
    list-style: decimal;
    padding-left: 15px;
    border-top: 3px solid $cl-blue;
    > li{
      border-bottom: 1px solid #D8D8D8;
      padding: 30px 0;
      position: relative;
      a{
        font-family: $muli-bold;
        color: $cl-grey;
      }
      ul{
        padding-left: 15px;
        margin-bottom: 0;
        >li{
          margin-top: 10px;
          position: relative;
          &.has-child{
            cursor: pointer;
            &:before{
              position: absolute;
              content: "\f107";
              font-family: FontAwesome;
              right: 0;
              width: 15px;
              height: 15px;
              display: flex;
              display: -ms-flexbox;
              justify-content: center;
              align-items: center;
              @include transition(all 0.5s ease);
            }
          }
          &.togglemenu,
          &.active{
            &.has-child{
              &:before{
                @include transform(rotate(180deg));
              }
            }
          }
          &.active{
            >a{
              font-family: "Montserrat", Arial;
      font-weight: 600;
              color: $cl-blue;
            }
            >ul{
              display: block;
            }
          }
        }
        ul{
          display: none;
        }
      }
      &.active{
        >a{
          font-family: "Montserrat", Arial;
      font-weight: 600;
          color: $cl-blue;
        }
        >ul{
          display: block;
        }
      }
    }
  }
  .slider_banner_product{
    .prev-slider{
      position: absolute;
      top: 50%;
      left: 30px;
      z-index: 111;
      cursor: pointer;
      @include transform(translateY(-50%));
      width: 35px;
      height: 35px;
      display: flex;
      display: -ms-flexbox;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img{
        max-width: 20px;
      }
      &:before{
        position: absolute;
        content: "";
        left: 50%;
        top: 50%;
        width: 35px;
        height: 35px;
        opacity: 0.5;
        background: #ffffff;
        @include transform(translate(-50%,-50%) scale(1));
        @include transition(all 0.5s ease);
        z-index: -1;
        border-radius: 50%;
      }
      &:hover{
        &:before{
          opacity: 1;
          @include transform(translate(-50%,-50%) scale(1.2));
        }
      }
    }
    .next-slider{
      position: absolute;
      top: 50%;
      right: 30px;
      z-index: 111;
      cursor: pointer;
      @include transform(translateY(-50%));
      width: 35px;
      height: 35px;
      display: flex;
      display: -ms-flexbox;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &:before{
        position: absolute;
        content: "";
        left: 50%;
        top: 50%;
        width: 35px;
        height: 35px;
        opacity: 0.5;
        background: #ffffff;
        @include transform(translate(-50%,-50%) scale(1));
        @include transition(all 0.5s ease);
        z-index: -1;
        border-radius: 50%;
      }
      img{
        max-width: 20px;
      }
      &:hover{
        &:before{
          opacity: 1;
          @include transform(translate(-50%,-50%) scale(1.2));
        }
      }
    }
  }
  .filter_product{
    border-bottom: 1px solid #D8D8D8;
    .form-control{
      border-bottom: 0;
      min-width: 200px;
      margin-bottom: 0;
    }
  }
  .filter_content{
    padding: 30px 0;
    .item_product{
      background: #ffffff;
      padding: 60px 10px;
      text-align: center;
      border-radius: 240px;
      border: 1px solid transparent;
      position: relative;
      margin-bottom: 30px;
      &:before{
        position: absolute;
        content: "";
        width: calc(100% - 20px);
        width: -webkit-calc(100% - 20px);
        width: -moz-calc(100% - 20px);
        height: calc(100% - 20px);
        height: -webkit-calc(100% - 20px);
        height: -moz-calc(100% - 20px);
        left: 10px;
        top: 10px;
        border: 1px solid #D7D7D7;
        border-radius: 240px;
        opacity: 0;
        @include transition(all 0.5s ease);
      }
      figure{
        position: relative;
        img{
          max-height: 200px;
          margin: 0 auto;
          @include transition(all 0.5s ease);
        }
        .add_to_cart{
          position: absolute;
          right: 30px;
          top: 50%;
          opacity: 0;
          @include transition(all 0.3s ease);
          a{
            color: $cl-blue;
            font-size: 16px;
          }
        }
        .white_list{
          position: absolute;
          left: 20px;
          bottom: 50%;
          opacity: 0;
          @include transition(all 0.3s ease);
          a{
            color: $cl-blue;
            font-size: 16px;
          }
        }
      }
      h4{
        font-family: 'Montserrat', sans-serif;
  font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
        padding: 0 15px 15px;
        margin-bottom: 15px;
      }
      .product_cate{
        color: #A5A5A5;
        padding: 0 15px;
      }
      p{
        color: #A5A5A5;
        padding: 0 15px;
      }
      .price{
        color: $cl-blue;
        font-family: $muli-bold;
        font-size: 15px;
        margin-bottom: 10px;
      }
      &:hover,
      &:focus{
        outline: none;
        border: 1px solid #D7D7D7;
        box-shadow: 0 41px 33px 0 rgba(125,125,125,0.05), 0 22px 18px 0 rgba(119,119,119,0.04), 0 12px 10px 0 rgba(0,0,0,0.04), 0 6px 6px 0 rgba(0,0,0,0.03), 0 2px 2px 0 rgba(0,0,0,0.02);
        &:before{
          opacity: 1;
        }
        figure{
          img{
            opacity: 1;
          }
          .add_to_cart{
            @include transform(translateY(-50%));
            opacity: 1;
          }
          .white_list{
            @include transform(translateY(50%));
            opacity: 1;
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    .list_cate_product {
      > li{
        padding: 10px 0;
      }
    }
    .slider_banner_product{
      margin-top: 3rem;
    }
    .filter_product {
      .form-control{
        min-width: unset;
        max-width: 100px;
      }
    }
    .filter_content {
      .item_product {
        &:before{
          opacity: 1;
        }
        border: 1px solid #D7D7D7;
        box-shadow: 0 41px 33px 0 rgba(125, 125, 125, 0.05), 0 22px 18px 0 rgba(119, 119, 119, 0.04), 0 12px 10px 0 rgba(0, 0, 0, 0.04), 0 6px 6px 0 rgba(0, 0, 0, 0.03), 0 2px 2px 0 rgba(0, 0, 0, 0.02);
        figure {
          .add_to_cart{
            opacity: 1;
            @include transform(translateY(-50%));
          }
          .white_list{
            opacity: 1;
            @include transform(translateY(50%));
          }
        }
      }
    }
  }
}
//Review page
.review_page{
  position: relative;
  &:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background: $cl-gray url("../images/bgreview.png") repeat left top / 30% auto;
  }
  .box_toggle{
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    box-shadow: 0 -8px 19px 3px rgba(244,244,244,0.50), 0 40px 80px 0 rgba(101,101,101,0.07), 0 41px 33px 0 rgba(144,144,144,0.05), 0 22px 18px 0 rgba(0,0,0,0.04), 0 12px 10px 0 rgba(140,140,140,0.04), 0 6px 6px 0 rgba(0,0,0,0.03), 0 2px 2px 0 rgba(0,0,0,0.02);
    .card{
      border-radius: 0;
      box-shadow: none;
      border: 0;
      &:focus{
        box-shadow: none;
      }
      .card-header{
        background: $cl-blue;
        border-radius: 0;
        padding: 0;
        border-bottom: 1px solid $cl-grey;
        margin-bottom: 0;
        a{
          display: flex;
          display: -ms-flexbox;
          justify-content: space-between;
          span{
            padding: 15px 30px;
            flex: 0 0 60%;
            -webkit-flex: 0 0 60%;
            max-width: 60%;
            &.name{
              font-size: 18px;
              font-family: "Montserrat", Arial;
      font-weight: 600;
              text-transform: uppercase;
            }
            &:first-child{
              flex: 0 0 30%;
              -webkit-flex: 0 0 30%;
              max-width: 30%;
              border-right: 1px solid $cl-grey;
            }
            &:last-child{
              flex: 0 0 10%;
              -webkit-flex: 0 0 10%;
              max-width: 10%;
              text-align: center;
              color: $cl-blue;
              -webkit-background-clip: unset;
              -webkit-text-fill-color: $cl-blue;
              @include bg-gold();
              i{
                @include transform(rotate(180deg));
                @include transition(all 0.5s ease);
              }
            }
          }
          &[aria-expanded="true"]{
            margin-bottom: -1px;
            span{
              &:last-child{
                i {
                  @include transform(rotate(0deg));
                }
              }
            }
          }
        }
      }
      .card-body{
        .quote_text{
          font-size: 20px;
          font-family: $muli-bold;
          padding: 0 30px 0 50px;
          position: relative;
          &:before{
            position: absolute;
            content: "";
            width: 30px;
            height: 30px;
            background: url("../images/quote2.png") no-repeat center center /contain;
            left: 0;
          }
        }
        .customer_info{
          padding: 0 30px 0 50px;
          .name{
            font-size: 20px;
            font-family: $muli-bold;
            text-transform: uppercase;
            position: relative;
            &:before{
              position: absolute;
              content: "";
              width: calc(40px + 1.25rem);
              width: -webkit-calc(40px + 1.25rem);
              width: -moz-calc(40px + 1.25rem);
              height: 1px;
              background: $cl-blue;
              left: calc(-50px - 1.25rem);
              left: -webkit-calc(-50px - 1.25rem);
              left: -moz-calc(-50px - 1.25rem);
              top: 15px;
            }
          }
          .working{
            font-size: 18px;
            color: $cl-grey;
          }
          .img_customer{
            width: 200px;
            border: 1px solid #E2E2E2;
            img{
              padding-top: 10px;
              padding-left: 10px;
              filter: grayscale(100%);
              opacity: 0.7;
            }
          }
        }
        p{
          color: $cl-grey;
        }
        .video_intro{
          position: relative;
          background: #FFFFFF;
          border: 1px solid #E6E6E6;
          box-shadow: 0 40px 80px 0 rgba(101,101,101,0.07), 0 41px 33px 0 rgba(144,144,144,0.05), 0 22px 18px 0 rgba(0,0,0,0.04), 0 12px 10px 0 rgba(140,140,140,0.04), 0 6px 6px 0 rgba(0,0,0,0.03), 0 2px 2px 0 rgba(0,0,0,0.02);
          a{
            display: flex;
            display: -ms-flexbox;
            position: absolute;
            top: 50%;
            left: 0;
            @include transform(translate(-50%,-50%));
            font-size: 40px;
            background: rgba(255,255,255,0.52);
            border: 1px solid #C1C1C1;
            width: 100px;
            height: 100px;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: $cl-blue;
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    margin-top: 2rem;
    .box_toggle {
      .card {
        .card-header {
          a {
            display: block;
            span{
              display: block;
              width: 100%;
              max-width: 100%;
              &:first-child{
                width: 100%;
                max-width: 100%;
                padding: 15px 30px 0;
              }
              &:last-child{
                width: 100%;
                max-width: 100%;
              }
            }
          }
        }
        .card-body {
          .video_intro {
            margin: 30px 0;
            a{
              left: 50%;
            }
          }
          .customer_info {
            .working{
              font-size: 13px;
            }
            .img_customer{
              width: 150px;
            }
          }
          .quote_text{
            font-size: 13px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
.contact_page{
  .form_contact{
    background: $cl-gray;
    position: relative;
    &:before{
      position: absolute;
      content: "";
      width: 20%;
      height: 50%;
      background: url("../images/bgcontact1.png") no-repeat left center / contain;
      top: 50%;
      left: 0;
      @include transform(translateY(-50%));
    }
    &:after{
      position: absolute;
      content: "";
      width: 20%;
      height: 50%;
      background: url("../images/bgcontact2.png") no-repeat right bottom 30px / contain;
      bottom: 0;
      right: 0;
    }
    ul{
      &.social{
        margin-bottom: 0;
        li{
          margin-right: 10px;
          margin-bottom: 0;
          a{
            font-size: 20px;
            color: $cl-blue;
          }
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }
  }
  .location_spa{
    position: relative;
    background: $cl-gray;
    padding-top: 3rem;
    .title_location{
      position: absolute;
      top: 3rem;
      left: 0;
      width: 100%;
      z-index: 1;
      @include transform(translateY(-50%));
      .bg-white{
        box-shadow: 0 40px 80px 0 rgba(4,4,4,0.04), 0 41px 33px 0 rgba(144,144,144,0.05), 0 22px 18px 0 rgba(0,0,0,0.04), 0 12px 10px 0 rgba(140,140,140,0.04), 0 6px 6px 0 rgba(0,0,0,0.03), 0 2px 2px 0 rgba(0,0,0,0.02);
      }

      .brand_name{
        background: $cl-blue;
        font-size: 30px;
        padding: 10px 15px;
        text-transform: uppercase;
        color: #FFE3BF;
        font-family: "Montserrat", Arial;
      font-weight: 600;
        text-align: center;
        span{
          text-decoration: underline;
          font-size: 16px;
          display: inline-block;
          font-family: 'Montserrat', sans-serif;
  font-weight: 400;
        }
      }
      .brand_phone,
      .brand_address{
        display: flex;
        display: -ms-flexbox;
        padding: 10px 15px;
        strong{
          color: $cl-blue;
          font-family: "Montserrat", Arial;
      font-weight: 600;
          display: inline-block;
          margin-right: 10px;
        }
        span{
          display: inline-block;
        }
      }
      .map_contact{
        padding: 10px 15px;
        display: -ms-flexbox;
        display: flex;
        color: $cl-blue;
        font-family: "Montserrat", Arial;
      font-weight: 600;
        text-decoration: underline;
      }
      
      .arrow_nav{
        cursor: pointer !important;
      }

      .slider1_prev,
      .slider2_prev,
      .slider1_next,
      .slider2_next{
        padding: 10px 15px;
        text-align: center;
        position: relative;
        cursor: pointer;
        &:before{
          position: absolute;
          content: "";
          width: 1px;
          height: 100%;
          background: $cl-blue;
          left: 0;
          top: 0;
        }
        img{
          max-width: 30px;
        }
      }
    }
    .slider_location{
      margin-bottom: 0;
      .slick-dots{
        position: absolute;
        bottom: 1rem;
        left: 50%;
        @include transform(translateX(-50%));
        li{
          width: 10px;
          height: 10px;
          button{
            width: 10px;
            height: 10px;
            &:before{
              content: "";
              background: #ffffff;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              @include transition(all 0.5s ease);
            }
          }
          &:hover,
          &.slick-active{
            button{
              @include transform(scale(1.2));
            }
          }
        }
      }
    }
  }
  .more_info{
    margin-top: 5rem;
    .box_section{
      position: relative;
      h3{
        padding-left: 50px;
        position: relative;
        &:before{
          position: absolute;
          content: "";
          width: 30px;
          height: 15px;
          background: url("../images/star2.png") repeat-x left center / 15px auto;
          left: 0;
          top: 2px;
        }
      }
      .bg_img{
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        left: 50%;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &:nth-child(even){
        .bg_img{
          left: 0;
        }
      }
    }
  }
  @media (max-width: 767px) {
    .location_spa{
      padding-top: 1rem;
      margin-bottom: 2rem;
      .title_location{
        position: static;
        @include transform(translateY(0));
        margin-bottom: 2rem;
      }
    }
    .more_info {
      .box_section {
        .bg_img{
          position: static;
          width: 100%;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
.news_page{
  background: $cl-gray;
  .bg-blue{
    background: $cl-blue url("../images/bgnews.png") no-repeat bottom center / 100% auto;
    .title_page{
      position: absolute;
      bottom: 5rem;
      width: 100%;
      pointer-events: none;
    }
  }
  .post_nav{
    position: absolute;
    right: 0;
    top: 0;
    .prev_slider{
      cursor: pointer;
      img{
        max-width: 30px;
      }
    }
    .next_slider{
      margin-bottom: 30px;
      cursor: pointer;
      img{
        max-width: 30px;
      }
    }
  }
  .post_featured{
    width: 80%;
    .item{
      position: relative;
      padding: 30px;
      color: $cl-blue;
      img{
        padding-left: 3rem;
      }
      &:before{
        position: absolute;
        content: "";
        width: 60%;
        height: 100%;
        background: #FFE3BF;
        left: 0;
        top: 0;
        z-index: -1;
      }
      .meta_post{
        margin-top: 2rem;
        padding-right: 40%;
        position: relative;
        .btn-gold{
          position: absolute;
          top: 0;
          right: 0;
        }
      }
      .post_date{
        position: absolute;
        background: #ffffff;
        top: 15px;
        left: 30px;
        padding: 5px 20px;
        border: 1px solid #E6E6E6;
        box-shadow: 0 40px 80px 0 rgba(101,101,101,0.07), 0 41px 33px 0 rgba(144,144,144,0.05), 0 22px 18px 0 rgba(0,0,0,0.04), 0 12px 10px 0 rgba(140,140,140,0.04), 0 6px 6px 0 rgba(0,0,0,0.03), 0 2px 2px 0 rgba(0,0,0,0.02);
        .date{
          font-size: 30px;
          font-family: "Montserrat", Arial;
      font-weight: 600;
        }
      }
    }
  }
  .cate_filter{
    background: url("../images/bg_contentpost.png") no-repeat right center / auto 100%;
    .list_cate{
      list-style: none;
      li{
        margin-bottom: 10px;
        position: relative;
        padding-left: 20px;
        a{
          color: $cl-blue;
        }
        &:before{
          position: absolute;
          content: "";
          border: 1px solid $cl-blue;
          width: 12px;
          height: 12px;
          left: 0;
          top: 2px;
          @include transition(all 0.5s ease);
        }
        &:hover,
        &.active{
          &:before{
            background: #FFE3BF;
            border-color: #FFE3BF;
          }
        }
      }
    }
  }
  .filter_list{
    .item_post{
      padding: 15px 0;
      border-bottom: 1px solid #D8D8D8;
      @include transition(all 0.5s ease);
      &:first-child{
        border-top: 1px solid #D8D8D8;
      }
      &:hover{
        background: #FFFFFF;
        box-shadow: 0 -8px 19px 3px rgba(244,244,244,0.50), 0 40px 80px 0 rgba(101,101,101,0.07), 0 41px 33px 0 rgba(144,144,144,0.05), 0 22px 18px 0 rgba(0,0,0,0.04), 0 12px 10px 0 rgba(140,140,140,0.04), 0 6px 6px 0 rgba(0,0,0,0.03), 0 2px 2px 0 rgba(0,0,0,0.02);
      }
      h4{
        a{
          font-family: "Montserrat", Arial;
      font-weight: 600;
          color: $cl-blue;
          font-size: 18px;
        }
      }
      .date_post,
      .address_post{
        margin-top: 1rem;
        strong{
          font-family: "Montserrat", Arial;
      font-weight: 600;
          color: $cl-blue;
        }
      }
    }
    .thumbnail_post{
      @media (min-width: 1200px) {
        width: calc(100% + (100vw - 1110px) / 2);
        width: -webkit-calc(100% + (100vw - 1110px) / 2);
        width: -moz-calc(100% + (100vw - 1110px) / 2);
      }
    }
  }
  @media (max-width: 767px) {
    .bg-blue {
      .title_page{
        position: static;
        text-align: center;
        margin-bottom: 30px;
      }
    }
    .post_nav{
      top: unset;
      bottom: 30px;
      right: 30px;
    }
    .post_featured {
      width: 100%;
      .item{
        &:before{
          width: 80%;
        }
        .meta_post{
          padding-right: 20%;
          .btn-gold{
            position: relative;
          }
        }
      }
    }
  }
}
.single_content{
  .post_related{
    list-style: none;
    padding-top: 15px;
    border-left: 1px solid #D8D8D8;
    padding-left: 0;
    li{
      border-bottom: 1px solid #D8D8D8;
      padding: 15px;
      @include transition(all 0.5s ease);
      .cate_name{
        margin-bottom: 30px;
      }
      h3{
        font-size: 16px;
        margin-bottom: 15px;
        a{
          color: $cl-blue;
          font-family: "Montserrat", Arial;
      font-weight: 600;
        }
      }
      &:hover{
        background: #FFF5EA;
        box-shadow: 0 -8px 19px 3px rgba(244,244,244,0.50), 0 40px 80px 0 rgba(101,101,101,0.07), 0 41px 33px 0 rgba(144,144,144,0.05), 0 22px 18px 0 rgba(0,0,0,0.04), 0 12px 10px 0 rgba(140,140,140,0.04), 0 6px 6px 0 rgba(0,0,0,0.03), 0 2px 2px 0 rgba(0,0,0,0.02);
      }
    }
  }
  .content_post{
    position: relative;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    &:before{
      position: absolute;
      content: "";
      width: 1px;
      height: 100%;
      left: -30px;
      top: 0;
      background: #D8D8D8;
    }
    .cate_name{
      margin-bottom: 30px;
    }
    h1{
      font-weight: 100;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    .detail_info{
      strong{
        font-family: "Montserrat", Arial;
      font-weight: 600;
        color: $cl-blue;
      }
      a{
        color: #CFCFCF;
      }
    }
    .content_inner{
      img{
        max-width: 100%;
        margin-bottom: 30px;
      }
    }
  }
}
.product_detail{
  .product_thumb{
    .item{
      text-align: center;
      margin: 5px;
      border: 1px solid #D8D8D8;
      height: 75px;
      img{
        max-height: 70px;
        margin: 0 auto;
      }
    }
  }
  .product_large{
    .item{
      height: 330px;
      margin: 5px;
      border: 1px solid #D8D8D8;
      img{
        max-height: 300px;
        margin: 0 auto;
        &:hover{
          cursor: zoom-in;
        }
      }
    }
  }
  .menu_tab{
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
  }
  .nav-tabs{
    border-bottom: 0;
    .nav-link{
      border: 0;
      text-transform: uppercase;
      color: #A5A5A5;
      &:hover,
      &.active{
        border: 0;
        font-family: "Montserrat", Arial;
      font-weight: 600;
        color: $cl-blue;
      }
    }
  }
  .info_detail{
    h1{
      font-weight: 100;
      margin-top: 2rem;
      +p{
        font-size: 16px;
      }
    }
    .price{
      color: $cl-blue;
      font-family: "Montserrat", Arial;
      font-weight: 600;
      font-size: 15px;
      margin-bottom: 2rem;
    }
    .border-tb{
      border-top: 1px solid #D8D8D8;
      border-bottom: 1px solid #D8D8D8;
      .form-control{
        border: none;
        text-align: center;
        max-width: 30px;
      }
      .bd-lr{
        border-left: 1px solid #D8D8D8;
        border-right: 1px solid #D8D8D8;
      }
    }
  }

  .box_related{
    h3{
      padding: 3rem 0;
      background: url("../images/bg_title.png")  repeat-x center center / contain;
    }
  }
  .product_related{
    .item_product{
      background: #ffffff;
      padding: 60px 10px;
      text-align: center;
      border-radius: 240px;
      border: 1px solid transparent;
      position: relative;
      margin: 30px 15px;
      &:before{
        position: absolute;
        content: "";
        width: calc(100% - 20px);
        width: -webkit-calc(100% - 20px);
        width: -moz-calc(100% - 20px);
        height: calc(100% - 20px);
        height: -webkit-calc(100% - 20px);
        height: -moz-calc(100% - 20px);
        left: 10px;
        top: 10px;
        border: 1px solid #D7D7D7;
        border-radius: 240px;
        opacity: 0;
        @include transition(all 0.5s ease);
      }
      figure{
        position: relative;
        img{
          max-height: 200px;
          margin: 0 auto;
          @include transition(all 0.5s ease);
        }
        .add_to_cart{
          position: absolute;
          right: 30px;
          top: 50%;
          opacity: 0;
          @include transition(all 0.3s ease);
          a{
            color: $cl-blue;
            font-size: 16px;
          }
        }
        .white_list{
          position: absolute;
          left: 20px;
          bottom: 50%;
          opacity: 0;
          @include transition(all 0.3s ease);
          a{
            color: $cl-blue;
            font-size: 16px;
          }
        }
      }
      h4{
        font-family: 'Montserrat', sans-serif;
  font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
        padding: 0 15px 15px;
        margin-bottom: 15px;
      }
      .product_cate{
        color: #A5A5A5;
        padding: 0 15px;
      }
      p{
        color: #A5A5A5;
        padding: 0 15px;
      }
      .price{
        color: $cl-blue;
        font-family: $muli-bold;
        font-size: 15px;
        margin-bottom: 10px;
      }
      &:hover,
      &:focus{
        outline: none;
        border: 1px solid #D7D7D7;
        box-shadow: 0 41px 33px 0 rgba(125,125,125,0.05), 0 22px 18px 0 rgba(119,119,119,0.04), 0 12px 10px 0 rgba(0,0,0,0.04), 0 6px 6px 0 rgba(0,0,0,0.03), 0 2px 2px 0 rgba(0,0,0,0.02);
        &:before{
          opacity: 1;
        }
        figure{
          img{
            opacity: 1;
          }
          .add_to_cart{
            @include transform(translateY(-50%));
            opacity: 1;
          }
          .white_list{
            @include transform(translateY(50%));
            opacity: 1;
          }
        }
      }
    }
    .prev-slider{
      position: absolute;
      top: 50%;
      left: -30px;
      z-index: 111;
      cursor: pointer;
      @include transform(translateY(-50%));
      width: 35px;
      height: 35px;
      display: flex;
      display: -ms-flexbox;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img{
        max-width: 20px;
      }
      &:before{
        position: absolute;
        content: "";
        left: 50%;
        top: 50%;
        width: 35px;
        height: 35px;
        opacity: 0.5;
        background: #ffffff;
        @include transform(translate(-50%,-50%) scale(1));
        @include transition(all 0.5s ease);
        z-index: -1;
        border-radius: 50%;
        border: 1px solid $cl-blue;
      }
      &:hover{
        &:before{
          opacity: 1;
          @include transform(translate(-50%,-50%) scale(1.2));
        }
      }
    }
    .next-slider{
      position: absolute;
      top: 50%;
      right: -30px;
      z-index: 111;
      cursor: pointer;
      @include transform(translateY(-50%));
      width: 35px;
      height: 35px;
      display: flex;
      display: -ms-flexbox;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &:before{
        position: absolute;
        content: "";
        left: 50%;
        top: 50%;
        width: 35px;
        height: 35px;
        opacity: 0.5;
        background: #ffffff;
        @include transform(translate(-50%,-50%) scale(1));
        @include transition(all 0.5s ease);
        z-index: -1;
        border-radius: 50%;
        border: 1px solid $cl-blue;
      }
      img{
        max-width: 20px;
      }
      &:hover{
        &:before{
          opacity: 1;
          @include transform(translate(-50%,-50%) scale(1.2));
        }
      }
    }
  }
  @media (max-width: 767px) {
    .nav-tabs {
      .nav-link{
        font-size: 13px;
      }
    }
    .product_related{
      .item_product {
        &:before{
          opacity: 1;
        }
        border: 1px solid #D7D7D7;
        box-shadow: 0 41px 33px 0 rgba(125, 125, 125, 0.05), 0 22px 18px 0 rgba(119, 119, 119, 0.04), 0 12px 10px 0 rgba(0, 0, 0, 0.04), 0 6px 6px 0 rgba(0, 0, 0, 0.03), 0 2px 2px 0 rgba(0, 0, 0, 0.02);
        figure {
          .add_to_cart{
            opacity: 1;
            @include transform(translateY(-50%));
          }
          .white_list{
            opacity: 1;
            @include transform(translateY(50%));
          }
        }
      }
      .prev-slider{
        left: 0;
      }
      .next-slider{
        right: 0;
      }
    }
  }
}
.product_cart{
  .cart_info{
    margin-top: 3rem;
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    table{
      margin-bottom: 0;
      tr{
        td{
          vertical-align: middle;
          border: 1px solid #D8D8D8;
          img{
            max-height: 100px;
            width: 50px;
          }
          h3{
            color: $cl-blue;
            font-size: 16px;
            font-family: $muli-bold;
            text-transform: uppercase;
          }
          .form-control{
            border: none;
            text-align: center;
            max-width: 30px;
          }
          .price_total{
            color: $cl-blue;
            font-family: "Montserrat", Arial;
      font-weight: 600;
          }
          .price_single{
            margin-right: 30px;
            +a{
              color: $cl-blue;
              text-decoration: underline;
            }
          }
          .input-group{
            justify-content: center;
          }
          &:nth-child(3){
            width: auto;
          }
          &:first-child{
            text-align: center;
            min-width: 100px;
          }
          &:last-child{
            text-align: right;
          }
        }
      }
    }
  }
  .box_total{
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    box-shadow: 0 -8px 19px 3px rgba(244,244,244,0.50), 0 40px 80px 0 rgba(101,101,101,0.07), 0 41px 33px 0 rgba(144,144,144,0.05), 0 22px 18px 0 rgba(0,0,0,0.04), 0 12px 10px 0 rgba(140,140,140,0.04), 0 6px 6px 0 rgba(0,0,0,0.03), 0 2px 2px 0 rgba(0,0,0,0.02);
    border-radius: 8px;
    padding: 15px;
    table{
      tr{
        td{
          .price_total{
            color: $cl-blue;
            font-family: "Montserrat", Arial;
      font-weight: 600;
          }
          &:last-child{
            text-align: right;
          }
        }
      }
    }
  }
}
.contact_us{
  display: none;
}
#footer_site{
  #goTop{
    margin: 1rem auto;
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    color: $cl-grey;
    font-size: 18px;
    width: 40px;
    height: 40px;
    background: $cl-gray;
    border-radius: 50%;
    border: 1px solid #DBDBDB;
  }
  color: $cl-grey;
  padding-bottom: 2rem;
  ul{
    padding-left: 0;
    li{
      list-style: none;
      margin-bottom: 5px;
      a{
        color: $cl-grey;
      }
    }
    &.social{
      margin-bottom: 0;
      li{
        margin-right: 10px;
        margin-bottom: 0;
        a{
          font-size: 20px;
          color: $cl-blue;
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
  @media (max-width: 767px) {
    h3{
      margin-top: 15px;
    }
  }
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  &:hover {
    opacity: 1; }
  &.is-active{
    &:hover {
      opacity: 1; }
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: $cl-orange; }
  }
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: $cl-orange;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

/*
 * Squeeze
 */
.hamburger--squeeze {
  .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    &::before {
      transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
    &::after {
      transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  }
  &.is-active {
    .hamburger-inner {
      transform: rotate(45deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      &::before {
        top: 0;
        opacity: 0;
        transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }
    }
  }
}
#bookingnow{
  .modal-body{
    padding: 0;
    font-size: 11px;
    .title_booking{
      position: relative;
      padding: 1rem 1rem 1rem 4rem;
      .icon{
        position: absolute;
        left: 1rem;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        @include bg-gold;
        display: flex;
        display: -ms-flexbox;
        justify-content: center;
        align-items: center;
        color: $cl-blue;
        font-size: 16px;
      }
      .close{
        position: absolute;
        right: 10px;
        top: 5px;
        @include transform(rotate(45deg))
      }
    }
    p{
      margin-bottom: 0;
      color: #A1A1A1;
    }
    .form_booking{
      .bg-gray{
        .title_text{
          text-transform: uppercase;
          font-weight: 100;
          color: #A1A1A1;
          margin-bottom: 0;
        }
        .form-control{
          height: 30px;
          font-size: 12px;
        }
        textarea{
          &.form-control{
            background: #ffffff;
            border: 1px solid #D8D8D8;
            border-radius: 5px;
            height: 60px;
            margin-top: 15px;
          }
        }
      }
    }
    .bg-blue{
      p{
        color: #ffffff;
      }
      .form-control{
        height: 30px;
        font-size: 12px;
      }
      select{
        &.form-control{
        background: #ffffff url("../images/dropdown.png") no-repeat right 10px center/10px auto;
          border: 1px solid #D8D8D8;
          border-radius: 20px;
          padding-left: 10px;
          padding-right: 20px;
        }
      }
      .date_area{
        background: #ffffff;
        text-align: center;
        padding: 15px;
        border-radius: 10px;
      }
    }
  }
}

#call_to_action{
  position: fixed;
  bottom: 20px;
  right: 10px;
  ul{
    list-style: none;
    padding-left: 0;
    li{
      margin-bottom: 10px;
      display: flex;
      display: -ms-flexbox;
      justify-content: center;
      align-items: center;
      .vertical{
        writing-mode: vertical-lr;
        white-space: nowrap;
        padding: 20px 10px;
        background: #F8CC9B;
        background: -webkit-linear-gradient(to bottom, #F8CC9B, #F6BF67);
        background: -moz-linear-gradient(to bottom, #F8CC9B, #F6BF67);
        background: -o-linear-gradient(to bottom, #F8CC9B, #F6BF67);
        background: linear-gradient(to bottom, #F8CC9B, #F6BF67);
        color: $cl-blue;
        font-family: "Montserrat", Arial;
      font-weight: 600;
        text-transform: uppercase;
        border-radius: 30px;
      }
      img{
        max-width: 42px;
      }
    }
  }
}