.service_hero {
  background: url("../images/bgservice.png") no-repeat top 15px center/98% auto;
}

.service_hero .content_hero {
  padding-left: 10%;
  position    : relative;
  z-index     : 1;
}

.service_hero .content_hero figure {
  margin-bottom: 2rem;
}

.service_hero .content_hero figure img {
  width     : 100%;
  max-height: 350px;
  min-height: 150px;
  object-fit: cover;
}

.service_hero .content_hero:before {
  position  : absolute;
  content   : "";
  width     : 30%;
  height    : 100%;
  background: #FFE3BF;
  top       : 0;
  left      : 0;
  z-index   : -1;
}

@media (max-width: 767px) {
  .service_hero .content_hero {
    padding-left: 0;
  }

  .service_hero .content_hero figure {
    margin-bottom: 1rem;
  }

  .service_hero .content_hero:before {
    display: none;
  }
}

.all_services .list_services .item_service {
  text-align   : center;
  border       : 1px solid transparent;
  background   : #ffffff;
  border-radius: 240px;
  position     : relative;
  margin-bottom: 30px;
  min-height   : 500px;
  padding      : 3rem .5rem;
}

.all_services .list_services .item_service:before {
  position          : absolute;
  content           : "";
  width             : calc(100% - 1rem);
  width             : -webkit-calc(100% - 1rem);
  width             : -moz-calc(100% - 1rem);
  height            : calc(100% - 1rem);
  height            : -webkit-calc(100% - 1rem);
  height            : -moz-calc(100% - 1rem);
  left              : .5rem;
  top               : .5rem;
  border            : 1px solid #D7D7D7;
  border-radius     : 240px;
  opacity           : 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition   : all 0.5s ease;
  -ms-transition    : all 0.5s ease;
  -o-transition     : all 0.5s ease;
  transition        : all 0.5s ease;
  pointer-events    : none;
}

.all_services .list_services .item_service .icon_sv {
  min-height     : 80px;
  display        : flex;
  display        : -ms-flexbox;
  justify-content: flex-end;
  flex-direction : column;
  align-items    : center;
}

.all_services .list_services .item_service .icon_sv img {
  max-height: 80px;
  max-width : 100px;
  width     : auto;
  height    : auto;
}

.all_services .list_services .item_service h4 {
  margin-bottom : 2rem;
  text-transform: uppercase;
}

.all_services .list_services .item_service ul {
  list-style   : none;
  padding-left : 0;
  margin-bottom: 0;
}

.all_services .list_services .item_service ul li a {
  font-family: "Muli-Bold", Arial;
  color      : #686868;
  display    : block;
  border-top : 1px solid #D7D7D7;
  padding    : .75rem 1rem;
}

.all_services .list_services .item_service ul li a:hover {
  color     : #052443;
  background: #FFFFFF;
  box-shadow: 0 -8px 19px 3px rgba(244, 244, 244, 0.5), 0 40px 80px 0 rgba(101, 101, 101, 0.07), 0 41px 33px 0 rgba(144, 144, 144, 0.05), 0 22px 18px 0 rgba(0, 0, 0, 0.04), 0 12px 10px 0 rgba(140, 140, 140, 0.04), 0 6px 6px 0 rgba(0, 0, 0, 0.03), 0 2px 2px 0 rgba(0, 0, 0, 0.02);
}

.all_services .list_services .item_service ul li:last-child a {
  border-bottom: 1px solid #D7D7D7;
}

.all_services .list_services .item_service:hover {
  border-color: #F7F7F7;
  box-shadow  : 0 41px 33px 0 rgba(125, 125, 125, 0.05), 0 22px 18px 0 rgba(119, 119, 119, 0.04), 0 12px 10px 0 rgba(0, 0, 0, 0.04), 0 6px 6px 0 rgba(0, 0, 0, 0.03), 0 2px 2px 0 rgba(0, 0, 0, 0.02);
}

@media (max-width: 767px) {
  .all_services .list_services .item_service {
    margin-bottom: 15px;
  }
}

#bookingsuccess .modal-content {
  border       : 0;
  border-radius: 15px;
  overflow     : hidden;
}

#bookingsuccess .modal-body {
  padding   : 0;
  color     : #052443;
  background: #F7F7F7;
}

#bookingsuccess .modal-body strong {
  font-family: "Muli-Bold", Arial;
}

#bookingsuccess .modal-body .title_booking {
  position  : relative;
  padding   : 1rem 1rem 1rem 4rem;
  background: #ffffff;
  font-size : 11px;
}

#bookingsuccess .modal-body .title_booking .icon {
  position       : absolute;
  left           : 1rem;
  width          : 40px;
  height         : 40px;
  border-radius  : 50%;
  background     : #F6BF67;
  background     : -webkit-linear-gradient(left top, #F6BF67 0%, #F8CC9B 50%);
  background     : -moz-linear-gradient(left top, #F6BF67 0%, #F8CC9B 50%);
  background     : -o-linear-gradient(left top, #F6BF67 0%, #F8CC9B 50%);
  background     : linear-gradient(left top, #F6BF67 0%, #F8CC9B 50%);
  display        : flex;
  display        : -ms-flexbox;
  justify-content: center;
  align-items    : center;
  color          : #052443;
  font-size      : 16px;
}

#bookingsuccess .modal-body .title_booking .close {
  position         : absolute;
  right            : 10px;
  top              : 5px;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  -ms-transform    : rotate(45deg);
  -o-transform     : rotate(45deg);
  transform        : rotate(45deg);
}

#bookingsuccess .modal-body p {
  margin-bottom: 0;
}

#demo_poupsuccess {
  position: fixed;
  bottom  : 10px;
  left    : 10px;
  z-index : 11;
}

#demo_poupsuccess a {
  background   : #F6BF67;
  background   : -webkit-linear-gradient(left top, #F6BF67 0%, #F8CC9B 50%);
  background   : -moz-linear-gradient(left top, #F6BF67 0%, #F8CC9B 50%);
  background   : -o-linear-gradient(left top, #F6BF67 0%, #F8CC9B 50%);
  background   : linear-gradient(left top, #F6BF67 0%, #F8CC9B 50%);
  color        : #ffffff;
  padding      : .25rem .5rem;
  border-radius: 5px;
}