/* Cubic Bezier Transition */

/***
New Profile Page
***/

.profile-content {
    overflow: hidden;
}

/* PROFILE SIDEBAR */

.profile-sidebar-portlet {
    padding: 30px 20px;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 13px;
    font-weight: 800;
    margin-bottom: 7px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0;
}

.profile-userbuttons button {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
}

.profile-usermenu {
    margin-top: 30px;
    padding-bottom: 20px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 16px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 16px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

.profile-stat {
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f4f7;
}

.profile-stat-title {
    color: #7f90a4;
    font-size: 25px;
    text-align: center;
}

.profile-stat-text {
    color: #5b9bd1;
    font-size: 11px;
    font-weight: 800;
    text-align: center;
}

.profile-desc-title {
    color: #7f90a4;
    font-size: 17px;
    font-weight: 600;
}

.profile-desc-text {
    color: #7e8c9e;
    font-size: 14px;
}

.profile-desc-link i {
    width: 22px;
    font-size: 19px;
    color: #abb6c4;
    margin-right: 5px;
}

.profile-desc-link a {
    font-size: 14px;
    font-weight: 600;
    color: #5b9bd1;
}

/* END PROFILE SIDEBAR */

/* RESPONSIVE MODE */

@media (max-width: 991px) {
    /* 991px */
    /* 991px */
    .profile-sidebar {
        float: none;
        width: 100% !important;
        margin: 0;
    }
    .profile-sidebar>.portlet {
        margin-bottom: 20px;
    }
    .profile-content {
        overflow: visible;
    }
}

/* Login */

.user-login-5 {
    min-height: 70vh
}

.user-login-5 .bs-reset {
    margin: 0;
    padding: 0
}

.user-login-5 .text-right {
    text-align: right
}

.user-login-5 .login-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh
}

.user-login-5 .login-logo {
    position: absolute;
    top: 2.5em;
    left: 2.5em
}

.user-login-5 .login-logo.login-6 {
    top: 80px;
    left: 80px
}

.user-login-5 .login-container {
    position: relative;
    /* min-height: 70vh */
}

.user-login-5 .login-container .login-copyright, .user-login-5 .login-container .login-social, .user-login-5 .login-container>.login-content {
    padding: 0 80px
}

.user-login-5 .login-container>.login-content>h1 {
    font-size: 30px;
    font-weight: 300;
    color: #4e5a64
}

.user-login-5 .login-container>.login-content p {
    color: #a0a9b4;
    font-size: 15px;
    line-height: 22px
}

.user-login-5 .login-container>.login-content>.login-form {
    margin-top: 80px;
    color: #a4aab2;
    font-size: 13px
}

.user-login-5 .login-container>.login-content>.login-form input {
    width: 100%;
    padding: 10px;
    border: none #a0a9b4;
    border-bottom: 1px solid;
    color: #868e97;
    font-size: 14px;
    margin-bottom: 30px
}

.user-login-5 .login-container>.login-content>.login-form input:focus {
    outline: 0
}

.user-login-5 .login-container>.login-content>.login-form .forgot-password, .user-login-5 .login-container>.login-content>.login-form .login-button {
    display: inline-block
}

.user-login-5 .login-container>.login-content>.login-form .rem-password {
    margin-top: 10px
}

.user-login-5 .login-container>.login-content>.login-form .rem-password>p {
    margin: 0
}

.user-login-5 .login-container>.login-content>.login-form .rem-password>.rem-checkbox {
    border-color: #a4aab2
}

.user-login-5 .login-container>.login-content>.login-form .forgot-password {
    margin-right: 1em
}

.user-login-5 .login-container>.login-content>.login-form .forgot-password>a {
    color: #a4aab2
}

.user-login-5 .login-container>.login-content>.login-form .forgot-password>a:hover {
    color: #337ab7;
    text-decoration: none
}

.user-login-5 .login-container>.login-content>.login-form .forgot-password>a:focus {
    color: #a4aab2;
    text-decoration: none
}

.user-login-5 .login-container>.login-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px
}

.user-login-5 .login-container>.login-footer .login-social {
    padding-right: 0
}

.user-login-5 .login-container>.login-footer .login-social li {
    display: inline-block;
    list-style: none;
    margin-right: 1em
}

.user-login-5 .login-container>.login-footer .login-social a {
    color: #a9b5be;
    font-size: 18px
}

.user-login-5 .login-container>.login-footer .login-social a:hover {
    color: #337ab7;
    text-decoration: none
}

.user-login-5 .login-container>.login-footer .login-social a:focus {
    color: #a9b5be
}

.user-login-5 .login-container>.login-footer .login-copyright {
    padding-left: 0;
    margin-top: 6px
}

.user-login-5 .login-container>.login-footer .login-copyright>p {
    margin: 0;
    font-size: 13px;
    color: #a9b5be
}

@media (max-width:1365px) {
    .user-login-5 .login-logo.login-6 {
        top: 40px;
        left: 40px
    }
    .user-login-5 .login-container .login-copyright, .user-login-5 .login-container .login-social, .user-login-5 .login-container>.login-content {
        padding: 0 40px
    }
    .user-login-5 .login-container .login-social {
        padding-right: 0
    }
    .user-login-5 .login-container .login-copyright {
        padding-left: 0
    }
}

@media (max-width:1023px) {
    .user-login-5, .user-login-5 .login-bg, .user-login-5 .login-container {
        min-height: 50vh
    }
    .user-login-5 .login-logo.login-6 {
        position: relative;
        margin: 0 0 40px
    }
    .user-login-5 .login-container>.login-content {
        margin-top: 60px
    }
    .user-login-5 .login-container>.login-content .login-form {
        margin-top: 40px
    }
    .user-login-5 .login-container .rem-password {
        margin-bottom: 1em
    }
    .user-login-5 .login-container>.login-footer {
        position: relative;
        margin-top: 40px;
        padding-bottom: 0
    }
    .user-login-5 .login-container>.login-footer .login-social li {
        margin-right: .5em
    }
}

@media (max-width:640px) {
    .user-login-5 .login-container>.login-content .text-right {
        text-align: left
    }
}

/* Hình ảnh */

.portfolio-content.portfolio-3 .cbp-l-filters-dropdown, .portfolio-content.portfolio-4 .cbp-l-filters-alignCenter {
    margin-bottom: 25px
}

.portfolio-content {
    padding-top: 10px
}

.portfolio-content .cbp-caption-expand .cbp-caption-defaultWrap, .portfolio-content .cbp-caption-expand .cbp-l-caption-body, .portfolio-content .cbp-l-clients-title-block, .portfolio-content .cbp-l-filters-big .cbp-l-filters-big .cbp-filter-item, .portfolio-content .cbp-l-filters-buttonCenter .cbp-filter-counter, .portfolio-content .cbp-l-filters-buttonCenter .cbp-filter-item, .portfolio-content .cbp-l-grid-masonry-projects-desc, .portfolio-content .cbp-l-grid-masonry-projects-title, .portfolio-content .cbp-l-grid-mosaic .cbp-l-caption-desc, .portfolio-content .cbp-l-grid-mosaic .cbp-l-caption-title, .portfolio-content .cbp-l-grid-slider-team-desc, .portfolio-content .cbp-l-grid-slider-team-name, .portfolio-content .cbp-l-grid-slider-team-position, .portfolio-content .cbp-l-grid-slider-testimonials-footer, .portfolio-content .cbp-l-grid-testimonials-footer, .portfolio-content .cbp-l-grid-work-title, .portfolio-content .cbp-l-slider-title-block div, .portfolio-content .cbp-l-testimonials-title-block {
    font-family: "Open Sans", sans-serif!important
}

.portfolio-content .text-center {
    text-align: center
}

.portfolio-content .cbp-l-project-related-link:hover {
    text-decoration: none
}

.portfolio-content .cbp-l-filters-button .cbp-filter-counter, .portfolio-content .cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active {
    background-color: #2F353B;
    border-color: #2F353B;
    color: #fff
}

.portfolio-content .cbp-l-filters-button .cbp-filter-counter:before, .portfolio-content .cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active:before {
    border-top-color: #2F353B
}

.portfolio-content .cbp-l-project-desc-title span, .portfolio-content .cbp-l-project-details-title span {
    border-bottom-color: #e7505a;
    text-transform: uppercase;
    font-weight: 600
}

.portfolio-content.portfolio-2 .cbp-l-filters-button .cbp-filter-counter, .portfolio-content.portfolio-2 .cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active {
    background-color: #32C5D2;
    border-color: #32C5D2;
    color: #fff
}

.portfolio-content.portfolio-2 .cbp-l-filters-button .cbp-filter-counter:before, .portfolio-content.portfolio-2 .cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active:before {
    border-top-color: #32C5D2
}

.portfolio-content.portfolio-2 .cbp-l-grid-mosaic .cbp-caption-activeWrap {
    background-color: rgba(50, 197, 210, .9)
}

.portfolio-content.portfolio-2 .cbp-l-grid-mosaic .cbp-caption-activeWrap .cbp-l-caption-desc, .portfolio-content.portfolio-2 .cbp-l-grid-mosaic .cbp-caption-activeWrap .cbp-l-caption-title {
    color: #fff
}

.portfolio-content.portfolio-3 .cbp-l-filters-button .cbp-filter-counter, .portfolio-content.portfolio-3 .cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active {
    background-color: #3598DC;
    border-color: #3598DC;
    color: #fff
}

.portfolio-content.portfolio-3 .cbp-caption-zoom .cbp-caption-activeWrap, .portfolio-content.portfolio-4 .cbp-caption-zoom .cbp-caption-activeWrap {
    background-color: rgba(0, 0, 0, .7)
}

.portfolio-content.portfolio-3 .cbp-l-filters-button .cbp-filter-counter:before, .portfolio-content.portfolio-3 .cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active:before {
    border-top-color: #3598DC
}

.portfolio-content.portfolio-3 .cbp-l-project-desc-title span, .portfolio-content.portfolio-3 .cbp-l-project-details-title span {
    border-bottom-color: #3598DC
}

.portfolio-content.portfolio-4 .cbp-l-filters-alignCenter .cbp-filter-item {
    margin-bottom: 0
}

.portfolio-content .cbp-l-filters-dropdown-floated {
    margin-top: 0
}

.portfolio-content .cbp-l-filters-dropdownWrap .cbp-l-filters-dropdownHeader, .portfolio-content .cbp-l-filters-dropdownWrap .cbp-l-filters-dropdownList .cbp-filter-item {
    line-height: 31px
}

.portfolio-content .cbp-popup-singlePage .cbp-popup-content {
    max-width: 1170px
}

.portfolio-content .cbp-l-filters-button {
    margin-bottom: 25px
}

.portfolio-content .cbp-l-loadMore-button {
    margin-bottom: 60px
}

.portfolio-content .btn {
    padding: 6px 12px
}

.cbp-popup-singlePage-open, .cbp-popup-wrap {
    z-index: 10105!important
}

.portfolio-tile {
    margin-bottom: 30px
}

.cbp-l-filters-dropdownWrap {
    background: 0 0;
    border: 1px solid #2F353B
}

.cbp-l-filters-dropdownWrap .cbp-l-filters-dropdownHeader {
    color: #2F353B;
    font-size: 12px
}

.cbp-l-filters-dropdownWrap .cbp-l-filters-dropdownHeader:after {
    border-color: #2F353B transparent
}

.cbp-l-filters-dropdownWrap .cbp-l-filters-dropdownList {
    background: #fff
}

.cbp-l-filters-dropdownWrap .cbp-l-filters-dropdownList .cbp-filter-item {
    font-size: 12px;
    color: #2F353B;
    border: 0
}

.cbp-l-filters-dropdownWrap .cbp-l-filters-dropdownList .cbp-filter-item:hover {
    background: #f3f4f5
}

.cbp-l-filters-dropdownWrap .cbp-l-filters-dropdownList .cbp-filter-item.cbp-filter-item-active {
    background: #e5e8ea
}

.product__carousel .gallery-top {
    border: 1px solid #ebebeb;
    border-radius: 3px;
    margin-bottom: 5px;
}

.product__carousel .gallery-top .swiper-slide {
    position: relative;
    overflow: hidden;
}

.product__carousel .gallery-top .swiper-slide a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.product__carousel .gallery-top .swiper-slide a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product__carousel .gallery-top .swiper-slide .easyzoom-flyout img {
    min-width: 100%;
    min-height: 100%;
}

.product__carousel .swiper-button-next.swiper-button-white, .product__carousel .swiper-button-prev.swiper-button-white {
    color: #ff3720;
}

.product__carousel .gallery-thumbs .swiper-slide {
    position: relative;
    transition: border .15s linear;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    height: calc(100% - 2px);
}

.product__carousel .gallery-thumbs .swiper-slide.swiper-slide-thumb-active {
    border-color: #000;
}

.product__carousel .gallery-thumbs .swiper-slide img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}

.product__carousel .gallery-thumbs .swiper-slide small {
    position: absolute;
    z-index: 9;
    bottom: 0;
    width: 100%;
    background: white;
    text-align: center;
}

footer {
    background: url('../images/bg-footer.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
}

.p-footer {
    padding: 3rem 0;
}

footer .social-icons li {
    background: white;
    border-radius: 2px;
}

.footer-link {
    margin: 0 0 30px 0;
    padding: 0;
}

.footer-link li {
    display: inline-block;
    text-transform: uppercase;
}

footer .profile-desc-link i {
    color: #fff;
}

.copyright {
    background: rgba(0, 0, 0, 0.5)
}

/*menu*/

/* Please ❤ this if you like it! */

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
/* #Primary
================================================== */

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #212112;
    overflow-x: hidden;
    transition: all 200ms linear;
}

::selection {
    color: #fff;
    background-color: #118441;
}

::-moz-selection {
    color: #fff;
    background-color: #118441;
}

/* #Navigation
================================================== */

.start-header {
    opacity: 1;
    background: #118441;
    transform: translateY(0);
    border-top: #118441 1px solid;
    border-bottom: #118441 1px solid;
    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.start-header.scroll-on {
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    padding: 10px 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.start-header.scroll-on .navbar-brand img {
    height: 24px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar {
    padding: 0;
}

.navbar-brand img {
    height: 28px;
    width: auto;
    display: block;
    filter: brightness(10%);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}

.navbar-toggler:active, .navbar-toggler:focus {
    outline: none;
}

.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #000;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after, .navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #000;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
    top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

.nav-link {
    font-weight: 500;
    transition: all 200ms linear;
}

.nav-link {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
}

.menu {
    float: right;
}

.menu .nav-item:hover {
    background: #fff;
}

.menu .nav-item:hover a {
    color: #118441;
}

.menu.navbar-nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

.header-info {
    display: inline-block;
    float: right;
}

.header-info .hotline {
    display: inline-block;
}

.header-info .hotline li {
    display: inline-block;
    padding: 0 25px;
    color: #777;
    border-right: 1px solid #ccc;
}

.header-info .hotline li b {
    color: #000;
}

.header-info .hotline i {
    color: #118441;
    font-size: larger;
}

.nav-item.active:hover:after {
    opacity: 0;
}

.nav-item {
    position: relative;
    transition: all 200ms linear;
}

/* #Media
================================================== */

@media (max-width: 767px) {
    .nav-item:after {
        display: none;
    }
    .nav-item::before {
        position: absolute;
        display: block;
        top: 15px;
        left: 0;
        width: 11px;
        height: 1px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
    }
    .dropdown-toggle::after {
        position: absolute;
        display: block;
        top: 10px;
        left: -23px;
        width: 1px;
        height: 11px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
        transition: all 200ms linear;
    }
    .dropdown-toggle[aria-expanded="true"]::after {
        transform: rotate(90deg);
        opacity: 0;
    }
    .dropdown-menu {
        padding: 0 !important;
        background-color: transparent;
        box-shadow: none;
        transition: all 200ms linear;
    }
    .dropdown-toggle[aria-expanded="true"]+.dropdown-menu {
        margin-top: 10px !important;
        margin-bottom: 20px !important;
    }
}